Recordar consultar el [Diccionario de datos](./Datasets/Google%20Maps/Diccionario%20de%20datos.docx)

# Importaciones

In [6]:
import pandas as pd

# Llamado de datos a dataframes

In [7]:
df_maps_restaurantes = pd.read_parquet(r'Generated\Google\metada_sitios.parquet')
df_maps_reviews = pd.read_parquet(r'Generated\Google\merge_site_reviews.parquet')
df_yelp_restaurantes = pd.read_parquet(r'Generated\Yelp\bussines.parquet')
df_yelp_checkin = pd.read_parquet(r'Generated\YELP\business_checkin.parquet')
df_yelp_tips = pd.read_parquet(r'Generated\Yelp\business_tip.parquet')
df_yelp_reviews = pd.read_parquet(r'Generated\Yelp\review.parquet')
df_yelp_users = pd.read_parquet(r'Generated\Yelp\users_extracted.parquet')

In [8]:
df_maps_restaurantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212014 entries, 0 to 212013
Data columns (total 29 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   name                    212014 non-null  object
 1   address                 210956 non-null  object
 2   gmap_id                 212014 non-null  object
 3   description             72392 non-null   object
 4   latitude                212014 non-null  float64
 5   longitude               212014 non-null  float64
 6   category                212014 non-null  object
 7   avg_rating              212014 non-null  float64
 8   num_of_reviews          212014 non-null  int64
 9   price                   100000 non-null  object
 10  hours                   0 non-null       object
 11  state                   190751 non-null  object
 12  relative_results        170957 non-null  object
 13  url                     212014 non-null  object
 14  MISC.Accessibility      210599 non-null  object
 15  MISC.Amenities          210599 non-null  object
 16  MISC.Atmosphere         210599 non-null  object
 17  MISC.Crowd              210599 non-null  object
 18  MISC.Dining options     210599 non-null  object
 19  MISC.From the business  210599 non-null  object
 20  MISC.Health & safety    210599 non-null  object
 21  MISC.Health and safety  210599 non-null  object
 22  MISC.Highlights         210599 non-null  object
 23  MISC.Offerings          210599 non-null  object
 24  MISC.Payments           210599 non-null  object
 25  MISC.Planning           210599 non-null  object
 26  MISC.Popular for        210599 non-null  object
 27  MISC.Recycling          210599 non-null  object
 28  MISC.Service options    210599 non-null  object
dtypes: float64(3), int64(1), object(25)
memory usage: 46.9+ MB

In [9]:
df_maps_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2393452 entries, 0 to 2393451
Data columns (total 41 columns):
 #   Column                  Dtype
---  ------                  -----
 0   user_id                 object
 1   name_x                  object
 2   time                    int64
 3   rating                  int64
 4   text                    object
 5   pics                    object
 6   gmap_id                 object
 7   anio                    int64
 8   estado                  object
 9   name_y                  object
 10  address                 object
 11  description             object
 12  latitude                float64
 13  longitude               float64
 14  category                object
 15  avg_rating              float64
 16  num_of_reviews          int64
 17  price                   object
 18  hours                   object
 19  state                   object
 20  relative_results        object
 21  url                     object
 22  state_ab                object
 23  us_state                object
 24  resp.text               object
 25  resp.time               float64
 26  MISC.Accessibility      object
 27  MISC.Amenities          object
 28  MISC.Atmosphere         object
 29  MISC.Crowd              object
 30  MISC.Dining options     object
 31  MISC.From the business  object
 32  MISC.Health & safety    object
 33  MISC.Health and safety  object
 34  MISC.Highlights         object
 35  MISC.Offerings          object
 36  MISC.Payments           object
 37  MISC.Planning           object
 38  MISC.Popular for        object
 39  MISC.Recycling          object
 40  MISC.Service options    object
dtypes: float64(4), int64(4), object(33)
memory usage: 748.7+ MB

In [10]:
df_yelp_restaurantes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22685 entries, 3.0 to 150339.0
Data columns (total 58 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   business_id                            22685 non-null  object
 1   name                                   22685 non-null  object
 2   address                                22685 non-null  object
 3   city                                   22685 non-null  object
 4   state                                  22685 non-null  object
 5   postal_code                            22685 non-null  object
 6   latitude                               22685 non-null  float64
 7   longitude                              22685 non-null  float64
 8   stars                                  22685 non-null  float64
 9   review_count                           22685 non-null  int64
 10  is_open                                22685 non-null  int64
 11  categories                             22685 non-null  object
 12  attributes.AcceptsInsurance            10 non-null     object
 13  attributes.AgesAllowed                 26 non-null     object
 14  attributes.Alcohol                     17333 non-null  object
 15  attributes.Ambience                    18028 non-null  object
 16  attributes.BYOB                        1764 non-null   object
 17  attributes.BYOBCorkage                 652 non-null    object
 18  attributes.BestNights                  1912 non-null   object
 19  attributes.BikeParking                 15342 non-null  object
 20  attributes.BusinessAcceptsBitcoin      2871 non-null   object
 21  attributes.BusinessAcceptsCreditCards  19777 non-null  object
 22  attributes.BusinessParking             19761 non-null  object
 23  attributes.ByAppointmentOnly           1472 non-null   object
 24  attributes.Caters                      15048 non-null  object
 25  attributes.CoatCheck                   1840 non-null   object
 26  attributes.Corkage                     1474 non-null   object
 27  attributes.DietaryRestrictions         14 non-null     object
 28  attributes.DogsAllowed                 5004 non-null   object
 29  attributes.DriveThru                   2672 non-null   object
 30  attributes.GoodForDancing              1550 non-null   object
 31  attributes.GoodForKids                 17824 non-null  object
 32  attributes.GoodForMeal                 12436 non-null  object
 33  attributes.HairSpecializesIn           1 non-null      object
 34  attributes.HappyHour                   5589 non-null   object
 35  attributes.HasTV                       18161 non-null  object
 36  attributes.Music                       2339 non-null   object
 37  attributes.NoiseLevel                  15145 non-null  object
 38  attributes.Open24Hours                 10 non-null     object
 39  attributes.OutdoorSeating              18945 non-null  object
 40  attributes.RestaurantsAttire           16999 non-null  object
 41  attributes.RestaurantsCounterService   10 non-null     object
 42  attributes.RestaurantsDelivery         20678 non-null  object
 43  attributes.RestaurantsGoodForGroups    17998 non-null  object
 44  attributes.RestaurantsPriceRange2      19290 non-null  object
 45  attributes.RestaurantsReservations     18696 non-null  object
 46  attributes.RestaurantsTableService     8531 non-null   object
 47  attributes.RestaurantsTakeOut          21146 non-null  object
 48  attributes.Smoking                     1506 non-null   object
 49  attributes.WheelchairAccessible        5898 non-null   object
 50  attributes.WiFi                        16324 non-null  object
 51  hours.Friday                           19369 non-null  object
 52  hours.Monday                           16911 non-null  object
 53  hours.Saturday                         18884 non-null  object
 54  hours.Sunday                           16270 non-null  object
 55  hours.Thursday                         19273 non-null  object
 56  hours.Tuesday                          18190 non-null  object
 57  hours.Wednesday                        18994 non-null  object
dtypes: float64(3), int64(2), object(53)
memory usage: 10.2+ MB

In [11]:
df_yelp_checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3330 entries, 0 to 3329
Data columns (total 57 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   business_id                            3330 non-null   object
 1   name                                   3330 non-null   object
 2   address                                3330 non-null   object
 3   city                                   3330 non-null   object
 4   state                                  3330 non-null   object
 5   postal_code                            3330 non-null   object
 6   latitude                               3330 non-null   float64
 7   longitude                              3330 non-null   float64
 8   stars                                  3330 non-null   float64
 9   review_count                           3330 non-null   int64
 10  is_open                                3330 non-null   int64
 11  categories                             3330 non-null   object
 12  date                                   3330 non-null   object
 13  attributes.AcceptsInsurance            3 non-null      object
 14  attributes.AgesAllowed                 1 non-null      object
 15  attributes.Alcohol                     2019 non-null   object
 16  attributes.Ambience                    2680 non-null   object
 17  attributes.BYOB                        497 non-null    object
 18  attributes.BYOBCorkage                 3 non-null      object
 19  attributes.BestNights                  359 non-null    object
 20  attributes.BikeParking                 1591 non-null   object
 21  attributes.BusinessAcceptsBitcoin      665 non-null    object
 22  attributes.BusinessAcceptsCreditCards  2600 non-null   object
 23  attributes.BusinessParking             2884 non-null   object
 24  attributes.ByAppointmentOnly           287 non-null    object
 25  attributes.Caters                      1793 non-null   object
 26  attributes.CoatCheck                   379 non-null    object
 27  attributes.Corkage                     373 non-null    object
 28  attributes.DietaryRestrictions         2 non-null      object
 29  attributes.DogsAllowed                 1343 non-null   object
 30  attributes.DriveThru                   316 non-null    object
 31  attributes.GoodForDancing              252 non-null    object
 32  attributes.GoodForKids                 1695 non-null   object
 33  attributes.GoodForMeal                 2246 non-null   object
 34  attributes.HappyHour                   1272 non-null   object
 35  attributes.HasTV                       2499 non-null   object
 36  attributes.Music                       465 non-null    object
 37  attributes.NoiseLevel                  1263 non-null   object
 38  attributes.Open24Hours                 1 non-null      object
 39  attributes.OutdoorSeating              2300 non-null   object
 40  attributes.RestaurantsAttire           1226 non-null   object
 41  attributes.RestaurantsDelivery         2906 non-null   object
 42  attributes.RestaurantsGoodForGroups    1833 non-null   object
 43  attributes.RestaurantsPriceRange2      1950 non-null   object
 44  attributes.RestaurantsReservations     2339 non-null   object
 45  attributes.RestaurantsTableService     1911 non-null   object
 46  attributes.RestaurantsTakeOut          2970 non-null   object
 47  attributes.Smoking                     329 non-null    object
 48  attributes.WheelchairAccessible        1598 non-null   object
 49  attributes.WiFi                        2121 non-null   object
 50  hours.Friday                           3041 non-null   object
 51  hours.Monday                           2616 non-null   object
 52  hours.Saturday                         2962 non-null   object
 53  hours.Sunday                           2546 non-null   object
 54  hours.Thursday                         3023 non-null   object
 55  hours.Tuesday                          2736 non-null   object
 56  hours.Wednesday                        2945 non-null   object
dtypes: float64(3), int64(2), object(52)
memory usage: 1.4+ MB

In [12]:
df_yelp_tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69346 entries, 0 to 69345
Data columns (total 62 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   user_id                                69346 non-null  object
 1   business_id                            69346 non-null  object
 2   text                                   69346 non-null  object
 3   date                                   69346 non-null  object
 4   compliment_count                       69346 non-null  int64
 5   name                                   69346 non-null  object
 6   address                                69346 non-null  object
 7   city                                   69346 non-null  object
 8   state                                  69346 non-null  object
 9   postal_code                            69346 non-null  object
 10  latitude                               69346 non-null  float64
 11  longitude                              69346 non-null  float64
 12  stars                                  69346 non-null  float64
 13  review_count                           69346 non-null  int64
 14  is_open                                69346 non-null  int64
 15  categories                             69346 non-null  object
 16  attributes.AcceptsInsurance            22 non-null     object
 17  attributes.AgesAllowed                 103 non-null    object
 18  attributes.Alcohol                     65021 non-null  object
 19  attributes.Ambience                    66707 non-null  object
 20  attributes.BYOB                        11649 non-null  object
 21  attributes.BYOBCorkage                 4231 non-null   object
 22  attributes.BestNights                  14572 non-null  object
 23  attributes.BikeParking                 64003 non-null  object
 24  attributes.BusinessAcceptsBitcoin      18622 non-null  object
 25  attributes.BusinessAcceptsCreditCards  67556 non-null  object
 26  attributes.BusinessParking             68123 non-null  object
 27  attributes.ByAppointmentOnly           14321 non-null  object
 28  attributes.Caters                      62336 non-null  object
 29  attributes.CoatCheck                   12833 non-null  object
 30  attributes.Corkage                     9342 non-null   object
 31  attributes.DietaryRestrictions         134 non-null    object
 32  attributes.DogsAllowed                 41117 non-null  object
 33  attributes.DriveThru                   12027 non-null  object
 34  attributes.GoodForDancing              13144 non-null  object
 35  attributes.GoodForKids                 65225 non-null  object
 36  attributes.GoodForMeal                 63399 non-null  object
 37  attributes.HairSpecializesIn           1 non-null      object
 38  attributes.HappyHour                   38675 non-null  object
 39  attributes.HasTV                       66493 non-null  object
 40  attributes.Music                       15819 non-null  object
 41  attributes.NoiseLevel                  62445 non-null  object
 42  attributes.Open24Hours                 111 non-null    object
 43  attributes.OutdoorSeating              66582 non-null  object
 44  attributes.RestaurantsAttire           63396 non-null  object
 45  attributes.RestaurantsCounterService   129 non-null    object
 46  attributes.RestaurantsDelivery         68196 non-null  object
 47  attributes.RestaurantsGoodForGroups    65645 non-null  object
 48  attributes.RestaurantsPriceRange2      67172 non-null  object
 49  attributes.RestaurantsReservations     66589 non-null  object
 50  attributes.RestaurantsTableService     48108 non-null  object
 51  attributes.RestaurantsTakeOut          68640 non-null  object
 52  attributes.Smoking                     10942 non-null  object
 53  attributes.WheelchairAccessible        34830 non-null  object
 54  attributes.WiFi                        65133 non-null  object
 55  hours.Friday                           67009 non-null  object
 56  hours.Monday                           60023 non-null  object
 57  hours.Saturday                         66240 non-null  object
 58  hours.Sunday                           58776 non-null  object
 59  hours.Thursday                         66668 non-null  object
 60  hours.Tuesday                          61780 non-null  object
 61  hours.Wednesday                        65392 non-null  object
dtypes: float64(3), int64(3), object(56)
memory usage: 32.8+ MB

In [13]:
df_yelp_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558655 entries, 0 to 558654
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    558655 non-null  object
 1   user_id      558655 non-null  object
 2   business_id  558655 non-null  object
 3   stars        558655 non-null  int8
 4   funny        558655 non-null  int8
 5   cool         558655 non-null  int8
 6   text         558655 non-null  object
 7   date         558655 non-null  object
dtypes: int8(3), object(5)
memory usage: 22.9+ MB

In [14]:
df_yelp_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99015 entries, 0 to 99014
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             99015 non-null  object
 1   name                99015 non-null  object
 2   review_count        99015 non-null  int64
 3   yelping_since       99015 non-null  object
 4   useful              99015 non-null  int64
 5   funny               99015 non-null  int64
 6   cool                99015 non-null  int64
 7   elite               99015 non-null  object
 8   friends             99015 non-null  object
 9   fans                99015 non-null  int64
 10  average_stars       99015 non-null  float64
 11  compliment_hot      99015 non-null  int64
 12  compliment_more     99015 non-null  int64
 13  compliment_profile  99015 non-null  int64
 14  compliment_cute     99015 non-null  int64
 15  compliment_list     99015 non-null  int64
 16  compliment_note     99015 non-null  int64
 17  compliment_plain    99015 non-null  int64
 18  compliment_cool     99015 non-null  int64
 19  compliment_funny    99015 non-null  int64
 20  compliment_writer   99015 non-null  int64
 21  compliment_photos   99015 non-null  int64
 22  elite_len           99015 non-null  int64
dtypes: float64(1), int64(17), object(5)
memory usage: 17.4+ MB