In [1]:
import pandas as pd

In [2]:
df_maps_restaurantes = pd.read_parquet(r"Generated\Google\metada_sitios.parquet")
df_maps_reviews = pd.read_parquet(r"Generated\Google\merge_site_reviews.parquet")
df_yelp_restaurantes = pd.read_parquet(r"Generated\Yelp\bussines.parquet")
df_yelp_checkin = pd.read_parquet(r"Generated\YELP\business_checkin.parquet")
df_yelp_tips = pd.read_parquet(r"Generated\Yelp\business_tip.parquet")
df_yelp_reviews = pd.read_parquet(r"Generated\Yelp\review.parquet")
df_yelp_users = pd.read_parquet(r"Generated\Yelp\users_extracted.parquet")

In [3]:
print(df_maps_restaurantes.info())
print("\n",df_maps_restaurantes.head())
print("\n",df_maps_restaurantes.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212014 entries, 0 to 212013
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              212014 non-null  object
 1   address           210956 non-null  object
 2   gmap_id           212014 non-null  object
 3   description       72392 non-null   object
 4   latitude          212014 non-null  float64
 5   longitude         212014 non-null  float64
 6   category          212014 non-null  object
 7   avg_rating        212014 non-null  float64
 8   num_of_reviews    212014 non-null  int64
 9   price             100000 non-null  object
 10  hours             189913 non-null  object
 11  MISC              210599 non-null  object
 12  state             190751 non-null  object
 13  relative_results  170957 non-null  object
 14  url               212014 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 24.3+ MB
None

                                     name  \
0                           San Soo Dang
1                           Vons Chicken
2  Sweet Rewards Gluten Free Bakery, LLC
3                        Vivi Bubble Tea
4                              Hale Pops

                                             address  \
0  San Soo Dang, 761 S Vermont Ave, Los Angeles, ...
1  Vons Chicken, 12740 La Mirada Blvd, La Mirada,...
2  Sweet Rewards Gluten Free Bakery, LLC, 85 NE D...
3  Vivi Bubble Tea, 701 S 5th St, Philadelphia, P...
4   Hale Pops, 55-370 Kamehameha Hwy, Laie, HI 96762

                                 gmap_id  \
0  0x80c2c778e3b73d33:0xbdc58662a4a97d49
1  0x80dd2b4c8555edb7:0xfc33d65c4bdbef42
2   0x87ec235c54d25b31:0x3b75fb5facc602f
3  0x89c6c89efcaed69d:0xded973f6033e7dba
4   0x7c00456eecad3111:0x8217f9600c51f33

                                         description   latitude   longitude  \
0                                               None  34.058092 -118.292130
1                                               None  33.916402 -118.010855
2                                               None  41.616079  -93.865487
3  Bubble tea shop offering hot & cold versions, ...  39.940293  -75.150923
4                                               None  21.637796 -157.920714

                           category  avg_rating  num_of_reviews price  \
0               [Korean restaurant]         4.4              18  None
1                      [Restaurant]         4.5              18  None
2  [Bakery, Health food restaurant]         4.7              21  None
3                      [Restaurant]         4.0               8  None
4                      [Restaurant]         4.4              18  None

                                               hours  \
0  [[Thursday, 6:30AM‚Äì6PM], [Friday, 6:30AM‚Äì6PM],...
1  [[Thursday, 11AM‚Äì9:30PM], [Friday, 11AM‚Äì9:30PM...
2  [[Thursday, 10AM‚Äì5:30PM], [Friday, 10AM‚Äì5:30PM...
3                                               None
4  [[Thursday, 11AM‚Äì8PM], [Friday, 11AM‚Äì8PM], [Sa...

                                                MISC                 state  \
0  {'Accessibility': ['Wheelchair accessible entr...     Open ‚ãÖ Closes 6PM
1  {'Accessibility': ['Wheelchair accessible entr...  Open ‚ãÖ Closes 9:30PM
2  {'Accessibility': None, 'Amenities': None, 'At...    Permanently closed
3  {'Accessibility': None, 'Amenities': ['Good fo...                  None
4  {'Accessibility': ['Wheelchair accessible entr...   Closed ‚ãÖ Opens 11AM

                                    relative_results  \
0  [0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...
1                                               None
2  [0x87ee974869295555:0x95f310d065882c9b, 0x87ec...
3  [0x89c6c62a40f4b733:0x73bfeec1898f272b, 0x89c6...
4  [0x7c00451360f80cf1:0x930291a38bab3132, 0x7c00...

                                                 url
0  https://www.google.com/maps/place//data=!4m2!3...
1  https://www.google.com/maps/place//data=!4m2!3...
2  https://www.google.com/maps/place//data=!4m2!3...
3  https://www.google.com/maps/place//data=!4m2!3...
4  https://www.google.com/maps/place//data=!4m2!3...

             latitude      longitude     avg_rating  num_of_reviews
count  212014.000000  212014.000000  212014.000000   212014.000000
mean       37.345470     -92.091257       4.157126      112.319771
std         5.369052      17.305463       0.575599      296.688325
min        19.060045    -177.378634       1.000000        1.000000
25%        33.758249    -100.462749       3.900000       18.000000
50%        38.412118     -87.206704       4.300000       43.000000
75%        41.023214     -78.436159       4.600000       96.000000
max        71.292018     180.000000       5.000000     9998.000000

In [4]:
print(df_maps_reviews.info())
print("\n",df_maps_reviews.head())
print("\n",df_maps_reviews.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2393452 entries, 0 to 2393451
Data columns (total 30 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   name_x            object
 2   time              int64
 3   rating            int64
 4   text              object
 5   pics              object
 6   resp              object
 7   gmap_id           object
 8   anio              int64
 9   estado            object
 10  name_y            object
 11  address           object
 12  description       object
 13  latitude          float64
 14  longitude         float64
 15  category          object
 16  avg_rating        float64
 17  num_of_reviews    int64
 18  price             object
 19  hours             object
 20  MISC              object
 21  state             object
 22  relative_results  object
 23  url               object
 24  state_ab          object
 25  us_state          object
 26  dtfmt             datetime64[ns]
 27  mes               int32
 28  dia               int32
 29  hora              int32
dtypes: datetime64[ns](1), float64(3), int32(3), int64(4), object(19)
memory usage: 520.4+ MB
None

                  user_id         name_x           time  rating  \
0  117440349723823658676    Anthony Kim  1551938216355       5
1  117440349723823658676    Anthony Kim  1551938216355       5
2  100580770836123539210  Mario Marzouk  1494910901933       5
3  100580770836123539210  Mario Marzouk  1494910901933       5
4  100185732664454906803    Ana Salazar  1547799582640       5

                                           text  pics  resp  \
0                short ribs are very delicious.  None  None
1                short ribs are very delicious.  None  None
2  great food and prices the portions are large  None  None
3  great food and prices the portions are large  None  None
4                      this food is delicious üòÅ  None  None

                                 gmap_id  anio      estado  ...  \
0  0x80c2c778e3b73d33:0xbdc58662a4a97d49  2019  California  ...
1  0x80c2c778e3b73d33:0xbdc58662a4a97d49  2019  California  ...
2  0x80c2c778e3b73d33:0xbdc58662a4a97d49  2017  California  ...
3  0x80c2c778e3b73d33:0xbdc58662a4a97d49  2017  California  ...
4  0x80c2c778e3b73d33:0xbdc58662a4a97d49  2019  California  ...

                                                MISC              state  \
0  {'Accessibility': ['Wheelchair accessible entr...  Open ‚ãÖ Closes 6PM
1  {'Accessibility': ['Wheelchair accessible entr...  Open ‚ãÖ Closes 6PM
2  {'Accessibility': ['Wheelchair accessible entr...  Open ‚ãÖ Closes 6PM
3  {'Accessibility': ['Wheelchair accessible entr...  Open ‚ãÖ Closes 6PM
4  {'Accessibility': ['Wheelchair accessible entr...  Open ‚ãÖ Closes 6PM

                                    relative_results  \
0  [0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...
1  [0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...
2  [0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...
3  [0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...
4  [0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...

                                                 url  state_ab    us_state  \
0  https://www.google.com/maps/place//data=!4m2!3...        CA  California
1  https://www.google.com/maps/place//data=!4m2!3...        CA  California
2  https://www.google.com/maps/place//data=!4m2!3...        CA  California
3  https://www.google.com/maps/place//data=!4m2!3...        CA  California
4  https://www.google.com/maps/place//data=!4m2!3...        CA  California

                    dtfmt  mes dia hora
0 2019-03-07 05:56:56.355    3   7    5
1 2019-03-07 05:56:56.355    3   7    5
2 2017-05-16 05:01:41.933    5  16    5
3 2017-05-16 05:01:41.933    5  16    5
4 2019-01-18 08:19:42.640    1  18    8

[5 rows x 30 columns]

                time        rating          anio      latitude     longitude  \
count  2.393452e+06  2.393452e+06  2.393452e+06  2.393452e+06  2.393452e+06
mean   1.539860e+12  4.213288e+00  2.018284e+03  3.447485e+01 -9.027991e+01
min    1.483240e+12  1.000000e+00  2.017000e+03  2.455144e+01 -1.242080e+02
25%    1.521773e+12  4.000000e+00  2.018000e+03  2.927068e+01 -9.847773e+01
50%    1.543373e+12  5.000000e+00  2.018000e+03  3.391773e+01 -8.169835e+01
75%    1.560388e+12  5.000000e+00  2.019000e+03  4.058399e+01 -7.597574e+01
max    1.577848e+12  5.000000e+00  2.019000e+03  4.499223e+01 -7.191950e+01
std    2.433510e+10  1.126788e+00  7.448380e-01  5.589753e+00  1.716386e+01

         avg_rating  num_of_reviews                          dtfmt  \
count  2.393452e+06    2.393452e+06                        2393452
mean   4.168271e+00    1.061662e+03  2018-10-18 10:56:28.939425536
min    1.500000e+00    5.000000e+00     2017-01-01 03:00:08.171000
25%    4.000000e+00    1.450000e+02  2018-03-23 02:43:47.436250112
50%    4.200000e+00    7.160000e+02  2018-11-28 02:51:32.095000064
75%    4.400000e+00    1.482000e+03  2019-06-13 01:10:46.605499904
max    5.000000e+00    9.998000e+03     2020-01-01 02:59:19.756000
std    3.748463e-01    1.288658e+03                            NaN

                mes           dia          hora
count  2.393452e+06  2.393452e+06  2.393452e+06
mean   6.660759e+00  1.574435e+01  1.221837e+01
min    1.000000e+00  1.000000e+00  0.000000e+00
25%    4.000000e+00  8.000000e+00  4.000000e+00
50%    7.000000e+00  1.600000e+01  1.400000e+01
75%    9.000000e+00  2.300000e+01  1.900000e+01
max    1.200000e+01  3.100000e+01  2.300000e+01
std    3.368164e+00  8.805481e+00  7.805207e+00

In [5]:
print(df_yelp_restaurantes.info())
print("\n",df_yelp_restaurantes.head())
print("\n",df_yelp_restaurantes.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 22685 entries, 3 to 150339
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   22685 non-null  object
 1   name          22685 non-null  object
 2   address       22685 non-null  object
 3   city          22685 non-null  object
 4   state         22685 non-null  object
 5   postal_code   22685 non-null  object
 6   latitude      22685 non-null  float64
 7   longitude     22685 non-null  float64
 8   stars         22685 non-null  float64
 9   review_count  22685 non-null  int64
 10  is_open       22685 non-null  bool
 11  attributes    22429 non-null  object
 12  categories    22685 non-null  object
 13  hours         19504 non-null  object
dtypes: bool(1), float64(3), int64(1), object(9)
memory usage: 2.4+ MB
None

                business_id                  name            address  \
3   MTSW4McQd7CbVtyjqoe9mw    St Honore Pastries        935 Race St
14  0bPLkL0QhhPO5kt1_EXmNQ  Zio's Italian Market      2575 E Bay Dr
22  kfNv-JZpuN6TVNSO6hHdkw       Hibachi Express     6625 E 82nd St
28  QdN72BWoyFypdGJhhI5r7g               Bar One       767 S 9th St
29  sqSqqLy0sN8n2IZrAbzidQ        Domino's Pizza  3001 Highway 31 W

            city state postal_code   latitude  longitude  stars  review_count  \
3   Philadelphia    CA       19107  39.955505 -75.155564    4.0            80
14         Largo    FL       33771  27.916116 -82.760461    4.5           100
22  Indianapolis    PA       46250  39.904320 -86.053080    4.0            20
28  Philadelphia    PA       19147  39.939825 -75.157447    4.0            65
29   White House    CA       37188  36.464747 -86.659187    3.5             8

    is_open                                         attributes  \
3      True  {'AcceptsInsurance': None, 'AgesAllowed': None...
14    False  {'AcceptsInsurance': None, 'AgesAllowed': None...
22     True  {'AcceptsInsurance': None, 'AgesAllowed': None...
28    False  {'AcceptsInsurance': None, 'AgesAllowed': None...
29     True  {'AcceptsInsurance': None, 'AgesAllowed': None...

                                           categories  \
3   Restaurants, Food, Bubble Tea, Coffee & Tea, B...
14        Food, Delis, Italian, Bakeries, Restaurants
22             Steakhouses, Asian Fusion, Restaurants
28  Cocktail Bars, Bars, Italian, Nightlife, Resta...
29      Pizza, Chicken Wings, Sandwiches, Restaurants

                                                hours
3   {'Friday': '7:0-21:0', 'Monday': '7:0-20:0', '...
14  {'Friday': '10:0-20:0', 'Monday': '10:0-18:0',...
22  {'Friday': '11:0-21:0', 'Monday': '11:0-21:0',...
28  {'Friday': '12:0-2:0', 'Monday': '16:0-0:0', '...
29  {'Friday': '10:0-1:0', 'Monday': '10:0-0:0', '...

            latitude     longitude         stars  review_count
count  22685.000000  22685.000000  22685.000000  22685.000000
mean      36.965174    -87.859304      3.516531     87.185806
std        6.014359     13.779133      0.824987    186.729538
min       27.674867   -120.000083      1.000000      5.000000
25%       32.204551    -90.232486      3.000000     13.000000
50%       39.468897    -86.041826      3.500000     33.000000
75%       39.956502    -75.348711      4.000000     88.000000
max       53.679197    -74.680250      5.000000   7400.000000

In [6]:
print(df_yelp_checkin.info())
print("\n",df_yelp_checkin.head())
print("\n",df_yelp_checkin.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3330 entries, 0 to 3329
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   3330 non-null   object
 1   name          3330 non-null   object
 2   address       3330 non-null   object
 3   city          3330 non-null   object
 4   state         3330 non-null   object
 5   postal_code   3330 non-null   object
 6   latitude      3330 non-null   float64
 7   longitude     3330 non-null   float64
 8   stars         3330 non-null   float64
 9   review_count  3330 non-null   int64
 10  is_open       3330 non-null   bool
 11  attributes    3296 non-null   object
 12  categories    3330 non-null   object
 13  hours         3082 non-null   object
 14  date          3330 non-null   object
dtypes: bool(1), float64(3), int64(1), object(10)
memory usage: 367.6+ KB
None

               business_id                     name                  address  \
0  aPNXGTDkf-4bjhyMBQxqpQ               Craft Hall       901 N Delaware Ave
1  lk9IwjZXqUMqqOhM774DtQ         Caviar & Bananas            2031 Broadway
2  cVBxfMC4lp3DnocjYA3FHQ        Paws The Cat Cafe         10588 109 Street
3  pJfh3Ct8iL58NZa8ta-a5w  Top Shelf Sports Lounge  3173 Cypress Ridge Blvd
4  YNjyv0gfOr2g8lbmUpTnKg              Copper Vine          1001 Poydras St

            city state postal_code   latitude   longitude  stars  \
0   Philadelphia    PA       19123  39.962582  -75.135657    3.5
1      Nashville    PA       37203  36.148371  -86.798895    3.5
2       Edmonton    FL     T5H 3B2  53.549633 -113.508780    5.0
3  Wesley Chapel    PA       33544  28.196252  -82.380615    4.5
4    New Orleans    PA       70112  29.950647  -90.074427    4.5

   review_count  is_open                                         attributes  \
0            65     True  {'AcceptsInsurance': None, 'AgesAllowed': None...
1           159    False  {'AcceptsInsurance': None, 'AgesAllowed': None...
2            20    False  {'AcceptsInsurance': None, 'AgesAllowed': None...
3            95     True  {'AcceptsInsurance': None, 'AgesAllowed': None...
4           350     True  {'AcceptsInsurance': None, 'AgesAllowed': None...

                                          categories  \
0  Eatertainment, Arts & Entertainment, Brewpubs,...
1  Coffee & Tea, Restaurants, Wine Bars, Bars, Ni...
2  Coffee & Tea, Cafes, Pets, Restaurants, Pet Ad...
3  Burgers, Sports Bars, Bars, Lounges, Restauran...
4  Nightlife, Pubs, Event Planning & Services, Wi...

                                               hours  \
0  {'Friday': '16:0-19:0', 'Monday': '0:0-0:0', '...
1  {'Friday': '7:0-17:0', 'Monday': '7:0-17:0', '...
2  {'Friday': '10:0-20:0', 'Monday': '0:0-0:0', '...
3  {'Friday': '11:30-23:30', 'Monday': '11:30-22:...
4  {'Friday': '11:0-23:0', 'Monday': '0:0-0:0', '...

                                                date
0  2019-03-09 17:44:26, 2019-03-16 23:26:17, 2019...
1  2017-06-18 17:23:58, 2017-06-20 23:47:06, 2017...
2  2017-11-30 19:49:29, 2018-01-23 22:10:48, 2018...
3  2018-02-09 22:40:05, 2018-03-25 21:01:21, 2018...
4  2018-08-31 19:34:29, 2018-09-05 22:46:19, 2018...

           latitude    longitude        stars  review_count
count  3330.000000  3330.000000  3330.000000   3330.000000
mean     36.646140   -87.867926     3.862162     69.537538
std       6.340746    13.601397     0.742487     95.014068
min      27.675539  -119.916058     1.000000      5.000000
25%      29.962122   -90.176936     3.500000     14.000000
50%      38.721235   -82.847248     4.000000     36.000000
75%      39.954260   -75.441287     4.500000     88.000000
max      53.637080   -74.711594     5.000000   1223.000000

In [7]:
print(df_yelp_tips.info())
print("\n",df_yelp_tips.head())
print("\n",df_yelp_tips.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69346 entries, 0 to 69345
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           69346 non-null  object
 1   business_id       69346 non-null  object
 2   text              69346 non-null  object
 3   date              69346 non-null  object
 4   compliment_count  69346 non-null  int64
 5   name              69346 non-null  object
 6   address           69346 non-null  object
 7   city              69346 non-null  object
 8   state             69346 non-null  object
 9   postal_code       69346 non-null  object
 10  latitude          69346 non-null  float64
 11  longitude         69346 non-null  float64
 12  stars             69346 non-null  float64
 13  review_count      69346 non-null  int64
 14  is_open           69346 non-null  bool
 15  attributes        69301 non-null  object
 16  categories        69346 non-null  object
 17  hours             67565 non-null  object
dtypes: bool(1), float64(3), int64(2), object(12)
memory usage: 9.1+ MB
None

                   user_id             business_id  \
0  1viszljzsa8W7VnYPuWosw  Zg83olSjsdXAhE5EEy5IcQ
1  YnlCpuaBa3qWBp4te8pGmA  XIKYdKWq72zUYsq8NBxcCQ
2  IE0f4Mt6rfEw26pn598doA  aPD0HkuA7MXNhZZqXiGF4g
3  BrobnxoTkPml180NhXl6kw  zjLT8ELDYxxknQ9ZLrl6_w
4  9XhCRgu_v7y-X2v4Av3HPA  fgnHM4VT-n1VjFL3YeBJsg

                                                text                 date  \
0             Order crispy and they bake it up good.  2018-04-01 01:40:12
1                The honey glazed salmon is amazing!  2018-01-14 15:00:01
2                             Great fish and chips!!  2017-09-30 22:39:11
3  Call ahead of time to make sure there isn't a ...  2017-03-18 18:22:28
4       Ordered the pad Thai shrimp and it was good!  2017-08-29 17:12:23

   compliment_count                             name  \
0                 0                        Oregano's
1                 0                       Aksum Cafe
2                 0  McCreary's Irish Pub and Eatery
3                 0  Brunchery Restaurant & Catering
4                 0             Royal Thai Bistreaux

                       address          city state postal_code   latitude  \
0        100 W Orange Grove Rd        Tucson    PA       85704  32.323157
1           4630 Baltimore Ave  Philadelphia    PA       19143  39.948547
2                  414 Main St      Franklin    PA       37064  35.924479
3  3225 S MacDill Ave, Ste 109         Tampa    PA       33629  27.915901
4      1299 Hickory Ave, Ste A       Harahan    PA       70123  29.956544

    longitude  stars  review_count  is_open  \
0 -110.973652    3.5           385     True
1  -75.216366    4.0           393     True
2  -86.870951    3.5           146     True
3  -82.494764    3.5           274     True
4  -90.202459    4.5           171     True

                                          attributes  \
0  {'AcceptsInsurance': None, 'AgesAllowed': None...
1  {'AcceptsInsurance': None, 'AgesAllowed': None...
2  {'AcceptsInsurance': None, 'AgesAllowed': None...
3  {'AcceptsInsurance': None, 'AgesAllowed': None...
4  {'AcceptsInsurance': None, 'AgesAllowed': None...

                                          categories  \
0                        Restaurants, Italian, Pizza
1  Mediterranean, Vegetarian, American (New), Res...
2  Pubs, Bars, Irish Pub, Irish, American (New), ...
3  Restaurants, Caterers, Sandwiches, Burgers, Ev...
4                                  Thai, Restaurants

                                               hours
0  {'Friday': '11:0-22:0', 'Monday': '0:0-0:0', '...
1  {'Friday': '16:0-21:0', 'Monday': '0:0-0:0', '...
2  {'Friday': '11:0-23:0', 'Monday': '11:0-22:0',...
3  {'Friday': '7:0-14:0', 'Monday': '7:0-14:0', '...
4  {'Friday': '16:30-21:30', 'Monday': None, 'Sat...

        compliment_count      latitude     longitude         stars  \
count      69346.000000  69346.000000  69346.000000  69346.000000
mean           0.008638     35.560186    -89.063041      3.866229
std            0.101174      5.511381     13.945553      0.611258
min            0.000000     27.674873   -120.000083      1.000000
25%            0.000000     29.955190    -90.224159      3.500000
50%            0.000000     38.549135    -86.156215      4.000000
75%            0.000000     39.923221    -82.136810      4.500000
max            4.000000     53.646240    -74.685404      5.000000

       review_count
count  69346.000000
mean     461.414732
std      818.225644
min        5.000000
25%       88.000000
50%      209.000000
75%      471.750000
max     7400.000000

In [8]:
print(df_yelp_reviews.info())
print("\n",df_yelp_reviews.head())
print("\n",df_yelp_reviews.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558655 entries, 0 to 558654
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    558655 non-null  object
 1   user_id      558655 non-null  object
 2   business_id  558655 non-null  object
 3   stars        558655 non-null  int8
 4   funny        558655 non-null  int8
 5   cool         558655 non-null  int8
 6   text         558655 non-null  object
 7   date         558655 non-null  object
dtypes: int8(3), object(5)
memory usage: 22.9+ MB
None

                 review_id                 user_id             business_id  \
0  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ
1  lUUhg8ltDsUZ9h0xnwY4Dg  RreNy--tOmXMl1en0wiBOg  cPepkJeRMtHapc_b2Oe_dw
2  40thYphUgIfvJq17QCfTwA  QzCEzH3R7Z6erOGLr3t55Q  0pMj5xUAecW9o1P35B0AMw
3  RB8UpF_kT2xoOC51OzXEeA  EZjT2qJN0mOXypMAqZdSrQ  A2q7d-CBM2-81tVkmS4JMw
4  4KpIldEM-tdnrJLqYzRfZQ  Z5j9Xw_G0c7M2b1-iS67wg  HTqXI5S2XcSlh_ylx9sE6g

   stars  funny  cool                                               text  \
0      4      0     1  Cute interior and owner (?) gave us tour of up...
1      4      0     1  I was really between 3 and 4 stars for this on...
2      5      0     1  Great staff always helps and always nice. Alwa...
3      2      1     0  Straight to the point, it's cheap, it tastes a...
4      5      1     1  I've only had the cannolis here but they are a...

         date
0  2017-01-14
1  2018-07-17
2  2017-05-26
3  2017-07-08
4  2018-03-23

                stars          funny           cool
count  558655.000000  558655.000000  558655.000000
mean        3.695087       0.171396       0.366860
std         1.545186       0.514744       0.616285
min         1.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         4.000000       0.000000       0.000000
75%         5.000000       0.000000       1.000000
max         5.000000      43.000000      26.000000

In [9]:
print(df_yelp_users.info())
print("\n",df_yelp_users.head())
print("\n",df_yelp_users.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99015 entries, 0 to 99014
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             99015 non-null  object
 1   name                99015 non-null  object
 2   review_count        99015 non-null  int64
 3   yelping_since       99015 non-null  datetime64[ns]
 4   useful              99015 non-null  int64
 5   funny               99015 non-null  int64
 6   cool                99015 non-null  int64
 7   elite               99015 non-null  object
 8   friends             99015 non-null  object
 9   fans                99015 non-null  int64
 10  average_stars       99015 non-null  float64
 11  compliment_hot      99015 non-null  int64
 12  compliment_more     99015 non-null  int64
 13  compliment_profile  99015 non-null  int64
 14  compliment_cute     99015 non-null  int64
 15  compliment_list     99015 non-null  int64
 16  compliment_note     99015 non-null  int64
 17  compliment_plain    99015 non-null  int64
 18  compliment_cool     99015 non-null  int64
 19  compliment_funny    99015 non-null  int64
 20  compliment_writer   99015 non-null  int64
 21  compliment_photos   99015 non-null  int64
 22  elite_len           99015 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(17), object(4)
memory usage: 17.4+ MB
None

                   user_id    name  review_count       yelping_since  useful  \
0  j14WgRoU_-2ZE1aw1dXrJg  Daniel          4333 2009-01-25 04:35:42   43091
1  2WnXYQFK0hXEoTxPtV2zvg   Steph           665 2008-07-25 10:41:00    2086
2  SZDeASXq7o05mMNLshsdIA    Gwen           224 2005-11-29 04:38:33     512
3  q_QQ5kBBwlCcbL1s4NVK3g    Jane          1221 2005-03-14 20:26:35   14953
4  xoZvMJPDW6Q9pDAXI0e_Ww    Ryan           535 2009-05-27 06:12:10    1130

   funny   cool                                              elite  \
0  13066  27281  [2009, 2010, 2011, 2012, 2013, 2014, 2015, 201...
1   1010   1003                     [2009, 2010, 2011, 2012, 2013]
2    330    299                                 [2009, 2010, 2011]
3   9940  11211  [2006, 2007, 2008, 2009, 2010, 2011, 2012, 201...
4    487    573                           [2009, 2010, 2011, 2012]

                                             friends  fans  ...  \
0  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...  3138  ...
1  LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...    52  ...
2  enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...    28  ...
3  xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...  1357  ...
4  6tbXpUIU6upoeqWNDo9k_A, Vlab9b73R5qPLIv6tE4DJA...    31  ...

   compliment_profile  compliment_cute  compliment_list  compliment_note  \
0                 184              157              251             1847
1                  10               17                3               66
2                   1                6                2               12
3                 191              361              147             1212
4                   1                3                5               31

   compliment_plain  compliment_cool  compliment_funny  compliment_writer  \
0              7054             3131              3131               1521
1                96              119               119                 35
2                16               26                26                 10
3              5696             2543              2543                815
4                41               36                36                 24

   compliment_photos  elite_len
0               1946         14
1                 18          5
2                  9          3
3                323          9
4                  7          4

[5 rows x 23 columns]

        review_count                  yelping_since         useful  \
count  99015.000000                          99015   99015.000000
mean     281.001111  2012-01-08 16:48:11.262414848     836.042206
min        1.000000            2004-10-12 08:46:11       0.000000
25%      106.000000            2009-11-29 20:12:00     129.000000
50%      178.000000            2011-09-20 20:37:29     269.000000
75%      325.000000     2014-02-03 13:41:47.500000     622.000000
max    17473.000000            2020-11-15 12:14:51  206296.000000
std      364.432217                            NaN    3269.671606

               funny           cool          fans  average_stars  \
count   99015.000000   99015.000000  99015.000000   99015.000000
mean      382.725425     558.009049     29.946776       3.942432
min         0.000000       0.000000      0.000000       2.310000
25%        27.000000      52.000000      5.000000       3.710000
50%        72.000000     117.000000     12.000000       3.940000
75%       208.000000     309.000000     27.000000       4.180000
max    185823.000000  199878.000000  12497.000000       5.000000
std      2077.998281    2860.711375    107.443318       0.347025

       compliment_hot  compliment_more  compliment_profile  compliment_cute  \
count    99015.000000     99015.000000        99015.000000     99015.000000
mean        46.490259         6.154977            4.347543         3.225966
min          0.000000         0.000000            0.000000         0.000000
25%          1.000000         0.000000            0.000000         0.000000
50%          5.000000         2.000000            0.000000         0.000000
75%         16.000000         4.000000            2.000000         1.000000
max      25784.000000      4347.000000         7039.000000      2974.000000
std        349.486881        43.253374           58.900780        29.845040

       compliment_list  compliment_note  compliment_plain  compliment_cool  \
count     99015.000000     99015.000000      99015.000000     99015.000000
mean          1.684826        32.722769         76.084391        71.561986
min           0.000000         0.000000          0.000000         0.000000
25%           0.000000         3.000000          4.000000         4.000000
50%           0.000000         7.000000          9.000000        10.000000
75%           0.000000        18.000000         25.000000        29.000000
max        2607.000000     59031.000000     101097.000000     49967.000000
std          23.612298       274.395327        614.067347       463.551727

       compliment_funny  compliment_writer  compliment_photos     elite_len
count      99015.000000       99015.000000       99015.000000  99015.000000
mean          71.561986          26.784800          27.894723      4.944029
min            0.000000           0.000000           0.000000      2.000000
25%            4.000000           2.000000           0.000000      3.000000
50%           10.000000           6.000000           2.000000      4.000000
75%           29.000000          16.000000           6.000000      6.000000
max        49967.000000       15934.000000       56104.000000     17.000000
std          463.551727         157.101787         352.241900      2.817519