# Importaciones

In [1]:
import pandas as pd
#import numpy as np
#import json
#import datetime
#import os

# Carga de dataframes

Se realiza una carga de los dataframes exportados previamente, para acelerar el proceso de testeo, ya que los pasos anteriores requieren de un alto consumo de tiempo.

In [2]:
df_restaurantes = pd.read_parquet(r'Generated\Unificado\restaurantes.parquet')
df_reviews = pd.read_parquet(r'Generated\Unificado\reviews.parquet')
df_estados = pd.read_parquet(r'Generated\Unificado\estados.parquet')

## Eliminación de datos duplicados según ID

In [3]:
df_restaurantes = df_restaurantes.drop_duplicates(subset=["id_restaurante"])
df_reviews = df_reviews.drop_duplicates(subset=["review_id"])

In [4]:
df_restaurantes.head()

,nombre,id_restaurante,categorias,cantidad_resenas,latitud,longitud,atributos,calificacion
3,St Honore Pastries,MTSW4McQd7CbVtyjqoe9mw,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",80,39.955505,-75.155564,"{'AcceptsInsurance': None, 'Accessibility': No...",4.0
14,Zio's Italian Market,0bPLkL0QhhPO5kt1_EXmNQ,"Food, Delis, Italian, Bakeries, Restaurants",100,27.916116,-82.760461,"{'AcceptsInsurance': None, 'Accessibility': No...",4.5
22,Hibachi Express,kfNv-JZpuN6TVNSO6hHdkw,"Steakhouses, Asian Fusion, Restaurants",20,39.904320,-86.053080,"{'AcceptsInsurance': None, 'Accessibility': No...",4.0
28,Bar One,QdN72BWoyFypdGJhhI5r7g,"Cocktail Bars, Bars, Italian, Nightlife, Resta...",65,39.939825,-75.157447,"{'AcceptsInsurance': None, 'Accessibility': No...",4.0
29,Domino's Pizza,sqSqqLy0sN8n2IZrAbzidQ,"Pizza, Chicken Wings, Sandwiches, Restaurants",8,36.464747,-86.659187,"{'AcceptsInsurance': None, 'Accessibility': No...",3.5

In [5]:
df_reviews.head()

,id_usuario,id_restaurante,id_resena,calificacion,anio,puntaje_de_sentimiento,user_id,gmap_id,review_id,rating,sentiment_score
0,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,Sx8TMOWLNuJBWer-0pcmoA,4.0,2017,0.0,None,None,None,NaN,NaN
0,None,None,None,NaN,2019,NaN,117440349723823658676,0x80c2c778e3b73d33:0xbdc58662a4a97d49,0x80c2c7781174403497,5.0,0.0
2,None,None,None,NaN,2017,NaN,100580770836123539210,0x80c2c778e3b73d33:0xbdc58662a4a97d49,0x80c2c7781005807708,5.0,0.0
4,None,None,None,NaN,2019,NaN,100185732664454906803,0x80c2c778e3b73d33:0xbdc58662a4a97d49,0x80c2c7781001857326,5.0,0.0
6,None,None,None,NaN,2018,NaN,117429873567288636857,0x80c2c778e3b73d33:0xbdc58662a4a97d49,0x80c2c7781174298735,5.0,0.0

In [6]:
df_estados.head()

  State Abbreviation       State  Population
0                 AL     Alabama     5024279
1                 AK      Alaska      733391
2                 AZ     Arizona     7151502
3                 AR    Arkansas     3011524
4                 CA  California    39538223

In [ ]:
df_restaurantes.to_parquet(r"Generated\Unificado\restaurantes.parquet")
df_reviews.to_parquet(r"Generated\Unificado\reviews.parquet")
df_estados.to_parquet(r"Generated\Unificado\estados.parquet")