# Extracci√≥n de datos Datasets Google Maps y YELP

### Importaciones

In [1]:
import pandas as pd
import numpy as np
import json
import datetime
import os

### Utiles

In [2]:

state_abreviations = [
    "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", 
    "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", 
    "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", 
    "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", 
    "WI", "WY"
]

state_dictionary = {
    "AL": "Alabama", "AK": "Alaska", "AZ": "Arizona", "AR": "Arkansas", 
    "CA": "California", "CO": "Colorado", "CT": "Connecticut", "DE": "Delaware", 
    "FL": "Florida", "GA": "Georgia", "HI": "Hawaii", "ID": "Idaho", "IL": "Illinois", 
    "IN": "Indiana", "IA": "Iowa", "KS": "Kansas", "KY": "Kentucky", "LA": "Louisiana", 
    "ME": "Maine", "MD": "Maryland", "MA": "Massachusetts", "MI": "Michigan", 
    "MN": "Minnesota", "MS": "Mississippi", "MO": "Missouri", "MT": "Montana", 
    "NE": "Nebraska", "NV": "Nevada", "NH": "New Hampshire", "NJ": "New Jersey", 
    "NM": "New Mexico", "NY": "New York", "NC": "North Carolina", "ND": "North Dakota", 
    "OH": "Ohio", "OK": "Oklahoma", "OR": "Oregon", "PA": "Pennsylvania", 
    "RI": "Rhode Island", "SC": "South Carolina", "SD": "South Dakota", "TN": "Tennessee", 
    "TX": "Texas", "UT": "Utah", "VT": "Vermont", "VA": "Virginia", "WA": "Washington", 
    "WV": "West Virginia", "WI": "Wisconsin", "WY": "Wyoming"
}

In [3]:
import os

generated_dir = "Generated"

os.mkdir(generated_dir)
os.chdir(generated_dir)
os.mkdir('Google')
os.mkdir('Yelp')
os.chdir('../')

os.getcwd()

'c:\\Users\\OS\\Desktop\\Tp grupal\\PF_DATAPT07'

# 1. Extracci√≥n  con los datasets de Google Maps

## 1.1 Metada de Sitios

Recorremos todo el directorio, lo hacemos archivo por archivo y l√≠nea por l√≠nea ya que no se puede abrir directamente los archivos por su dimensi√≥n y porque no est√°n en formato de array, sino est√°n constituidos en un registro por l√¨nea.
Durante la lectura filtramos los que incluyan <code>Restaurant</code> en el campo de categor√≠a, para alivianar el dataset final.

In [4]:
# Tiempo de Demora Medio: 51 segundos.
lineas_json = []

# Son 11 archivos con un ordinal, del 1 al 11
for i in range(1, 12):
    path = f'Datasets/Google Maps/metadata-sitios/{i}.json'
    with open(path, 'r') as file:
        for l in file:
            try:
                linea_j = json.loads(l)
                if 'restaurant' in " ".join(linea_j['category']).lower():
                    lineas_json.append(linea_j)
            except:
                pass

df = pd.DataFrame(lineas_json)

df.head(3)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.292130,[Korean restaurant],4.4,18,None,"[[Thursday, 6:30AM‚Äì6PM], [Friday, 6:30AM‚Äì6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ‚ãÖ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
1,Vons Chicken,"Vons Chicken, 12740 La Mirada Blvd, La Mirada,...",0x80dd2b4c8555edb7:0xfc33d65c4bdbef42,None,33.916402,-118.010855,[Restaurant],4.5,18,None,"[[Thursday, 11AM‚Äì9:30PM], [Friday, 11AM‚Äì9:30PM...","{'Service options': ['Outdoor seating', 'Curbs...",Open ‚ãÖ Closes 9:30PM,None,https://www.google.com/maps/place//data=!4m2!3...
2,"Sweet Rewards Gluten Free Bakery, LLC","Sweet Rewards Gluten Free Bakery, LLC, 85 NE D...",0x87ec235c54d25b31:0x3b75fb5facc602f,None,41.616079,-93.865487,"[Bakery, Health food restaurant]",4.7,21,None,"[[Thursday, 10AM‚Äì5:30PM], [Friday, 10AM‚Äì5:30PM...",{'Service options': ['Delivery']},Permanently closed,"[0x87ee974869295555:0x95f310d065882c9b, 0x87ec...",https://www.google.com/maps/place//data=!4m2!3...

In [5]:
df.loc[5, 'address']

'Cape Seafood Shack, 603 Del Prado Blvd S, Cape Coral, FL 33990'

Exportamos a formato Parquet

In [6]:
df.to_parquet(r'Generated\Google\metada_sitios.parquet')

Tama√±o Directorio <code>metadata-sitios</code>: 2.76 Gb

Tama√±o Archivo <code>metada_sitios.parquet</code>: 60.43 Mb

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212014 entries, 0 to 212013
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              212014 non-null  object
 1   address           210956 non-null  object
 2   gmap_id           212014 non-null  object
 3   description       72392 non-null   object
 4   latitude          212014 non-null  float64
 5   longitude         212014 non-null  float64
 6   category          212014 non-null  object
 7   avg_rating        212014 non-null  float64
 8   num_of_reviews    212014 non-null  int64
 9   price             100000 non-null  object
 10  hours             189913 non-null  object
 11  MISC              210599 non-null  object
 12  state             190751 non-null  object
 13  relative_results  170957 non-null  object
 14  url               212014 non-null  object
dtypes: float64(3), int64(1), object(11)
memory usage: 24.3+ MB

Dimensiones: 212.014 filas x 15 Columnas

## 1.1.1 Obtenci√≥n de informaci√≥n de Estados

En base al campo <code>Address</code> obtenemos el estado donde se encuentra el negocio. Nos servir√° para luego seleccionar los estados con m√°s restaurantes.

In [8]:
def get_state_ab(st):
    try:
        state = st.split(', ')[-1].split(' ')[0]
        if state in state_abreviations:
            return state
        else:
            return np.nan
    except:
        return np.nan
    
df['state_ab'] = df['address'].apply(get_state_ab)

De esta manera conseguimos el top 5 de los estados con m√°s restaurantes

In [9]:
top_5 = df['state_ab'].value_counts().head(5).index.to_list()

In [10]:
top_5

['CA', 'TX', 'NY', 'FL', 'PA']

Completamos el campo estado que es m√°s descriptivo

In [11]:
df['us_state'] = df['state_ab'].map(state_dictionary)

In [12]:
df['us_state'].head(5)

0      California
1      California
2            Iowa
3    Pennsylvania
4          Hawaii
Name: us_state, dtype: object

Obtenemos un arreglo de URLs de los archivos correspondientes para cada estado del top 5, con el fin de extraer los datos en un bucle.

In [13]:
top_5_url = [f"Datasets/Google Maps/reviews-estados/review-{state_dictionary[i].replace(' ', '_')}/" for i in top_5]

top_5_url

['Datasets/Google Maps/reviews-estados/review-California/',
 'Datasets/Google Maps/reviews-estados/review-Texas/',
 'Datasets/Google Maps/reviews-estados/review-New_York/',
 'Datasets/Google Maps/reviews-estados/review-Florida/',
 'Datasets/Google Maps/reviews-estados/review-Pennsylvania/']

Creamos un diccionario con la cantidad de archivos por cada directorio de estados, con el fin de utilizarlo en un bucle en la extracci√≥n de datos.

In [14]:
cantidad_archivos = {}

for i in top_5_url:
    for j in os.walk(i):
        cantidad_archivos[i] = len(j[2])

cantidad_archivos

{'Datasets/Google Maps/reviews-estados/review-California/': 1,
 'Datasets/Google Maps/reviews-estados/review-Texas/': 16,
 'Datasets/Google Maps/reviews-estados/review-New_York/': 18,
 'Datasets/Google Maps/reviews-estados/review-Florida/': 19,
 'Datasets/Google Maps/reviews-estados/review-Pennsylvania/': 16}

Comprobaci√≥n

In [15]:
for i in os.walk('Datasets/Google Maps/reviews-estados/review-Pennsylvania'):
    print(len(i[2]))

16

In [18]:
cantidad_archivos['Datasets/Google Maps/reviews-estados/review-Pennsylvania/']

16

## 1.2 Reviews Estados

Ya con los estados elegidos estamos en condiciones de ingestar los datos de las carpetas correspondientes dentro del directorio <code>reviews-estados</code>.
Es informaci√≥n masiva lo que genera un archivo de grandes dimensiones, sin embargo previamente filtramos por el par√°metro de a√±o <code>2017-2019</code> vali√©ndonos del campo <code>time</code>, que tiene es un <code>timestamp</code>, pero con 3 digitos m√°s que el usado por <code>datetime</code> de Python. Le agregamos el campo <code>Estado</code> que es m√°s descriptivo.

In [19]:
### Demora 7 minutos y 40 segundos, 11 minutos, var√≠a

lineas_json_revs_google = []

for i in top_5_url:
    count = 0
    for c in range(1,cantidad_archivos[i]+1):
        with open(str(i)+str(c)+".json", 'r', encoding='utf-8') as f:        
            for s in f:
                linea = json.loads(s)
                linea['anio'] = datetime.datetime.fromtimestamp(linea['time']/1000).year
                linea['estado'] = i.split('-')[-1][:-1]
                
                if linea['anio'] in [2017,2018,2019]:
                    lineas_json_revs_google.append(linea)

df_revs_google = pd.DataFrame(lineas_json_revs_google)

df_revs_google.head(3)

,user_id,name,time,rating,text,pics,resp,gmap_id,anio,estado
0,117440349723823658676,Anthony Kim,1551938216355,5,Short ribs are very delicious.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2019,California
1,100580770836123539210,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2017,California
2,100185732664454906803,Ana Salazar,1547799582640,5,This food is delicious üòÅ,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2019,California

In [20]:
merge_site_reviews = pd.merge(df_revs_google, df, left_on='gmap_id', right_on='gmap_id')

In [21]:
merge_site_reviews

,user_id,name_x,time,rating,text,pics,resp,gmap_id,anio,estado,...,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url,state_ab,us_state
0,117440349723823658676,Anthony Kim,1551938216355,5,Short ribs are very delicious.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2019,California,...,4.4,18,None,"[[Thursday, 6:30AM‚Äì6PM], [Friday, 6:30AM‚Äì6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ‚ãÖ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...,CA,California
1,117440349723823658676,Anthony Kim,1551938216355,5,Short ribs are very delicious.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2019,California,...,4.4,18,None,"[[Thursday, 6:30AM‚Äì6PM], [Friday, 6:30AM‚Äì6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ‚ãÖ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...,CA,California
2,100580770836123539210,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2017,California,...,4.4,18,None,"[[Thursday, 6:30AM‚Äì6PM], [Friday, 6:30AM‚Äì6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ‚ãÖ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...,CA,California
3,100580770836123539210,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2017,California,...,4.4,18,None,"[[Thursday, 6:30AM‚Äì6PM], [Friday, 6:30AM‚Äì6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ‚ãÖ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...,CA,California
4,100185732664454906803,Ana Salazar,1547799582640,5,This food is delicious üòÅ,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2019,California,...,4.4,18,None,"[[Thursday, 6:30AM‚Äì6PM], [Friday, 6:30AM‚Äì6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ‚ãÖ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...,CA,California
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1877469,107717065264565707751,Dent forem,1540928892138,4,None,None,None,0x89c6c4072624d2a9:0x4437b2d55e9a5811,2018,Pennsylvania,...,4.0,348,$,"[[Monday, 5:30AM‚Äì7:30PM], [Tuesday, 5:30AM‚Äì7:3...","{'Service options': ['Delivery', 'Drive-throug...",Open ‚ãÖ Closes 7:30PM,"[0x89c6c6d16baf5e31:0x85b50cbaee46e6fb, 0x89c6...",https://www.google.com/maps/place//data=!4m2!3...,PA,Pennsylvania
1877470,101396365263865239292,raage hassan,1532100711211,5,None,None,None,0x89c6c4072624d2a9:0x4437b2d55e9a5811,2018,Pennsylvania,...,4.0,348,$,"[[Monday, 5:30AM‚Äì7:30PM], [Tuesday, 5:30AM‚Äì7:3...","{'Service options': ['Delivery', 'Drive-throug...",Open ‚ãÖ Closes 7:30PM,"[0x89c6c6d16baf5e31:0x85b50cbaee46e6fb, 0x89c6...",https://www.google.com/maps/place//data=!4m2!3...,PA,Pennsylvania
1877471,101151161541936616847,Dwight Lee,1556141493132,5,None,None,None,0x89c6c4072624d2a9:0x4437b2d55e9a5811,2019,Pennsylvania,...,4.0,348,$,"[[Monday, 5:30AM‚Äì7:30PM], [Tuesday, 5:30AM‚Äì7:3...","{'Service options': ['Delivery', 'Drive-throug...",Open ‚ãÖ Closes 7:30PM,"[0x89c6c6d16baf5e31:0x85b50cbaee46e6fb, 0x89c6...",https://www.google.com/maps/place//data=!4m2!3...,PA,Pennsylvania
1877472,102266399501370637195,Benjamin Mullins-Spann,1527394310797,5,None,None,None,0x89c6c4072624d2a9:0x4437b2d55e9a5811,2018,Pennsylvania,...,4.0,348,$,"[[Monday, 5:30AM‚Äì7:30PM], [Tuesday, 5:30AM‚Äì7:3...","{'Service options': ['Delivery', 'Drive-throug...",Open ‚ãÖ Closes 7:30PM,"[0x89c6c6d16baf5e31:0x85b50cbaee46e6fb, 0x89c6...",https://www.google.com/maps/place//data=!4m2!3...,PA,Pennsylvania
1877473,108075755581228611786,tmax teah,1523054804032,4,None,None,None,0x89c6c4072624d2a9:0x4437b2d55e9a5811,2018,Pennsylvania,...,4.0,348,$,"[[Monday, 5:30AM‚Äì7:30PM], [Tuesday, 5:30AM‚Äì7:3...","{'Service options': ['Delivery', 'Drive-throug...",Open ‚ãÖ Closes 7:30PM,"[0x89c6c6d16baf5e31:0x85b50cbaee46e6fb, 0x89c6...",https://www.google.com/maps/place//data=!4m2!3...,PA,Pennsylvania

In [22]:
merge_site_reviews.to_parquet(r'Generated\Google\merge_site_reviews.parquet')

In [23]:
df_revs_google.to_parquet(r'Generated\Google\reviews-estados.parquet')

Tama√±o archivo: 760 Mb

Tama√±o dataset: 24.3 Gb

In [24]:
df_revs_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6690278 entries, 0 to 6690277
Data columns (total 10 columns):
 #   Column   Dtype
---  ------   -----
 0   user_id  object
 1   name     object
 2   time     int64
 3   rating   int64
 4   text     object
 5   pics     object
 6   resp     object
 7   gmap_id  object
 8   anio     int64
 9   estado   object
dtypes: int64(3), object(7)
memory usage: 510.4+ MB

Tama√±o 8.339.179 filas x 10 Columnas.

# 2. Extracci√≥n de los Dataset de YELP

### 2.1 Business

Contiene los datos de las entidades negocios de Yelp, a un primer vistazo tiene las columnas duplicadas, por lo que hay que hacer un recorte, ya que la segunda mitad tiene datos vac√≠os en su inmensa mayor√≠a.

In [25]:
url_business = r'Datasets\Yelp\business.pkl'

df_business = pd.read_pickle(url_business)

df_business = df_business.iloc[:,:-14]

In [26]:
df_business.sample(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3039,r0a85uiYdzndVNcsYQfxHw,Swig - Event Staffing & Coordination,,King of Prussia,FL,19406,40.097222,-75.376195,4.5,41,1,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...","Event Planning & Services, Party & Event Plann...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
68414,MFy3OwuMFdUhr29IIy_TdA,Cabela's,"1100 Christiana Mall, Ste 1410",Newark,NV,19702,39.677327,-75.652238,3.0,70,1,"{'BikeParking': 'True', 'BusinessParking': '{'...","Shopping, Hunting & Fishing Supplies, Luggage,...","{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ..."
58012,QFodscbX3HVqza1W68NbwQ,Pet Supplies Plus - New Port Richey,9143 Little Rd,New Port Richey,NV,34654,28.290703,-82.677266,4.5,14,1,{'RestaurantsDelivery': 'True'},"Pets, Pet Stores, Pet Services, Pet Groomers","{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ..."

In [27]:
df_business.shape

(150346, 14)

Luego con la ayuda del campo <code>state</code> filtramos los negocios que se encuentran en los estados seleccionados en nuestro an√°lisis.

In [28]:
df_business = df_business[df_business.state.isin(top_5)]

In [29]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65575 entries, 3 to 150339
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   65575 non-null  object
 1   name          65575 non-null  object
 2   address       65575 non-null  object
 3   city          65575 non-null  object
 4   state         65575 non-null  object
 5   postal_code   65575 non-null  object
 6   latitude      65575 non-null  object
 7   longitude     65575 non-null  object
 8   stars         65575 non-null  object
 9   review_count  65575 non-null  object
 10  is_open       65575 non-null  object
 11  attributes    59534 non-null  object
 12  categories    65529 non-null  object
 13  hours         55337 non-null  object
dtypes: object(14)
memory usage: 7.5+ MB

Seguimos filtrando a trav√©s del campo <code>categories</code>, para obtener los negocios que son restaurantes.

In [30]:
def is_restaurant(st):
    try: 
        test = "".join(st).lower()
        return 'restaurant' in test
    except:
        return False

df_business = df_business[df_business['categories'].apply(is_restaurant)]

In [31]:
df_business.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22685 entries, 3 to 150339
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   22685 non-null  object
 1   name          22685 non-null  object
 2   address       22685 non-null  object
 3   city          22685 non-null  object
 4   state         22685 non-null  object
 5   postal_code   22685 non-null  object
 6   latitude      22685 non-null  object
 7   longitude     22685 non-null  object
 8   stars         22685 non-null  object
 9   review_count  22685 non-null  object
 10  is_open       22685 non-null  object
 11  attributes    22429 non-null  object
 12  categories    22685 non-null  object
 13  hours         19504 non-null  object
dtypes: object(14)
memory usage: 2.6+ MB

In [32]:
df_business.to_parquet(r'Generated\Yelp\bussines.parquet')

### 2.2 Checkin

In [33]:
lineas_json = []
path_checkin = r'Datasets\Yelp\checkin.json'
with open(path_checkin, 'r', encoding='utf-8') as file:
    for l in file:
        try:
            linea_j = json.loads(l)
            anio = linea_j['date'][:4]
            # if 'restaurant' in " ".join(linea_j['category']).lower():
            if anio in ['2017', '2018', '2019']:
                lineas_json.append(linea_j)
        except:
            pass

df_checkin = pd.DataFrame(lineas_json)

In [34]:
df_checkin

,business_id,date
0,--FcbSxK1AoEtEAxOgBaCw,"2017-08-18 19:43:50, 2017-10-07 22:38:38, 2017..."
1,--LC8cIrALInl2vyo701tg,"2017-01-12 19:10:02, 2017-05-11 23:21:03, 2018..."
2,--OS_I7dnABrXvRCCuWOGQ,2018-05-11 18:23:36
3,--gJkxbsiSIwsQKbiwm_Ng,"2018-12-15 17:03:44, 2019-01-19 17:59:27, 2019..."
4,--qLiYw2ErSmvVwumb2kdw,"2018-03-30 22:52:21, 2018-04-13 23:37:09, 2018..."
...,...,...
19282,zymvTQ12tRy3bzmP4tPgOg,"2019-04-20 17:50:43, 2019-04-22 22:20:51, 2019..."
19283,zynDyrQvFZfbf5m4_Usl5g,"2019-12-14 16:31:44, 2020-01-24 14:02:24, 2020..."
19284,zzHtFjfM7NvuVM1HTsCLGA,"2019-11-09 02:16:59, 2019-11-19 18:04:37, 2019..."
19285,zzQWjZ_1Dr7kkDYlk17qRw,"2018-08-12 04:20:39, 2018-09-24 08:05:08, 2018..."
19286,zzXRdzrVhfNWPHD2MeyWeA,"2019-06-28 23:00:57, 2019-07-12 23:55:18, 2019..."

In [35]:
merge_business_checkin = pd.merge(df_business, df_checkin, left_on='business_id', right_on='business_id')

In [36]:
merge_business_checkin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3330 entries, 0 to 3329
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   3330 non-null   object
 1   name          3330 non-null   object
 2   address       3330 non-null   object
 3   city          3330 non-null   object
 4   state         3330 non-null   object
 5   postal_code   3330 non-null   object
 6   latitude      3330 non-null   object
 7   longitude     3330 non-null   object
 8   stars         3330 non-null   object
 9   review_count  3330 non-null   object
 10  is_open       3330 non-null   object
 11  attributes    3296 non-null   object
 12  categories    3330 non-null   object
 13  hours         3082 non-null   object
 14  date          3330 non-null   object
dtypes: object(15)
memory usage: 390.4+ KB

In [37]:
df_checkin.to_parquet(r'Generated\Yelp\checkin.parquet')
merge_business_checkin.to_parquet(r'Generated\YELP\business_checkin.parquet')

### 2.3 Tips

Realizamos la extracci√≥n de los datos y filtramos por a√±o seg√∫n nuestro an√°lisis.

In [38]:
lineas_json = []
path_tip = r'Datasets\Yelp\tip.json'
with open(path_tip, 'r', encoding='utf-8') as file:
    for l in file:
        try:
            linea_j = json.loads(l)
            anio = linea_j['date'][:4]
            if anio in ['2017', '2018', '2019']:
                lineas_json.append(linea_j)
        except:
            pass

df_tip = pd.DataFrame(lineas_json)

In [39]:
df_tip.sample(5)

,user_id,business_id,text,date,compliment_count
157869,pspttNtxTx2MnvglDXDw_w,BdzIB65Qe1qbpkm-RlUH2w,Awesome place and great food too!!,2017-03-28 02:26:08,0
93442,0hPHyaoEh78MfGcxy_0WwA,AlH5V97JSAu7AL_xdibMIg,Get there before 600pm for a good table.,2018-05-30 21:12:24,0
92477,4EhCUFul6tj8ppWlaxJsTw,PrVDvV4QcA-ymZv7pJR5YQ,Great service fresh food wonderful serving sizes,2017-02-18 22:55:00,0
174414,Ov_IaTOd7yvtctSntxnMFg,gsyyVQmvT9A2nAgUi7VUag,Great clean modern fast casual ramen restaurant,2017-08-08 21:21:44,0
151079,65QH6Zb5QgE0LHyIxHly4g,H-Spoc6Xb4k0ZefuSd6nSg,"Very good tacos, average price, quick service.",2018-12-22 01:24:15,0

In [40]:
df_tip.to_parquet(r'Generated\Yelp\tip.parquet')

Unimos el el dataframe de tips con el de negocios

In [41]:
tips_merged = pd.merge(df_tip, df_business, left_on='business_id', right_on='business_id')

In [42]:
tips_merged.sort_values('business_id').head(3)

,user_id,business_id,text,date,compliment_count,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
16974,SPuzzZ0VZ1yyD3s9ObLnaw,--epgcb7xHGuJ-4PUeSLAw,Hours 530am - 6pm,2018-01-05 16:49:20,0,Manhattan Bagel,200 York Road,Willow Grove,FL,19090,40.145054,-75.116293,3.0,34,1,"{'BikeParking': 'True', 'RestaurantsPriceRange...","Restaurants, Food, Bagels, Sandwiches, Breakfa...","{'Monday': '7:0-14:0', 'Tuesday': '7:0-14:0', ..."
56858,s4aoNqJ7IPzMQ4DuwU1yHw,-0FX23yAacC4bbLaGPvyxw,First time here and will definitely go back. L...,2019-11-24 02:53:54,0,The Grey Stone Fine Food and Spirits,552 Washington Crossing Rd,Newtown,FL,18940,40.256082,-74.916976,3.5,155,1,"{'Alcohol': 'u'full_bar'', 'WheelchairAccessib...","American (Traditional), Restaurants","{'Tuesday': '12:0-20:0', 'Wednesday': '12:0-20..."
57473,yuGzF-6h2tKzg5p89Ld_qA,-0FX23yAacC4bbLaGPvyxw,Great Food and excellent atmosphere! Highly re...,2018-07-29 02:00:13,0,The Grey Stone Fine Food and Spirits,552 Washington Crossing Rd,Newtown,FL,18940,40.256082,-74.916976,3.5,155,1,"{'Alcohol': 'u'full_bar'', 'WheelchairAccessib...","American (Traditional), Restaurants","{'Tuesday': '12:0-20:0', 'Wednesday': '12:0-20..."

In [43]:
tips_merged.to_parquet(r'Generated\Yelp\business_tip.parquet')

### 2.4 Review

In [46]:
df_reviews_url =  r'Datasets\Yelp\review.json'

Usamos el mismo m√©todo de linea por linea, y en el proceso filtramos por a√±o y por las rese√±as que han sido votadas como √∫tiles.

In [47]:
# 44 segundos

lineas_json_review = []

with open(df_reviews_url, 'r', encoding='utf-8') as f:
    count = 0
    for i in f:
        linea = json.loads(i)
        anio = linea['date'][:4]
        if anio in ['2017', '2018', '2019'] and linea['useful'] == 1:    
            lineas_json_review.append(linea)


df_reviews = pd.DataFrame(lineas_json_review)

In [48]:
df_reviews.sample(10)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
526546,8AVlQkOgXqfqN_u0MdFELw,2S8ftSCf7zdgpvjTi_lCBA,WsyILs2drnGrOHsuzczAjQ,5.0,1,0,0,"I have been taking my shih tzu, Samara, here f...",2018-10-14 12:28:09
196960,AwpMsyvuRggPOr2ajGTxgQ,A2BfLrRJRSIjEa274Qls3Q,Sw53KWMB8cYjF7EZX7O9PA,4.0,1,1,1,We wanted to love this place because we are bi...,2018-12-30 19:09:11
318245,pHIiNOOzVGd78KJF2aONKQ,XEohFzjpNoaDSioQO9pApw,EUKat7qVmzw6F1_XueJl3g,1.0,1,0,0,Well we only went in to look at a matress..end...,2017-01-22 04:08:22
395813,EjdH6VLQQyyZJnRERdFvbA,3sNl9ZQJar5VH5KOi93lHg,FXsu9JqnLl2D0wqeQP4QKw,3.0,1,0,0,My favorite thing is the dry rub wings!!! Thes...,2017-08-01 21:05:47
488771,u0_eO3tqzdnmgcQ90ZSkvg,uWGjGDyncVsU1uFFEKQLXw,f5AmcUBSs3-qR_8bz-_XSg,5.0,1,0,0,I've been going to Salvage and Company for a f...,2019-06-30 03:16:06
354405,nDThxM6EH_bfMsLwVl6T8Q,7F2WX8Pvm5lXEBrEVZiKKg,nIlmZLuMs0JuBRvAHSIf8Q,5.0,1,0,0,I really enjoyed the butter cake and the raspb...,2019-02-10 03:07:02
389444,wkFXlBZ1DKQ4JwWjVMDG0A,AfFLa9S23jbx4lXKinj89A,ZEd_RWWRVGqLlM5DUiXCeA,3.0,1,0,0,Let me start by saying I like this little plac...,2019-09-06 23:52:09
143025,IaNQVNOWtoa1SauOWhAqYA,EPtqAxsNOrNho1_zPIbb9Q,3NNRlx0GS0mzrTYCx8m8FQ,5.0,1,0,0,We have followed Chef Wilcomb's career and wer...,2019-07-15 03:40:00
486391,dWfy_JBGEs4jOIKdJ7krgw,z2UYFVvqMiExPphM8ks2Fg,E4OS_VH-ru2oER7W1Gk8rg,5.0,1,0,0,We've been to Autograph twice: once for dinner...,2019-02-18 02:53:29
424717,oyce_S0N80TK-PS2eh19OQ,f62D2OZofCk7vNTfxjx1CQ,eJUjeWndPCCqTjj0Jva-ug,5.0,1,0,2,"After searching around for some quotes, these ...",2018-04-14 19:41:36

In [49]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558655 entries, 0 to 558654
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    558655 non-null  object
 1   user_id      558655 non-null  object
 2   business_id  558655 non-null  object
 3   stars        558655 non-null  float64
 4   useful       558655 non-null  int64
 5   funny        558655 non-null  int64
 6   cool         558655 non-null  int64
 7   text         558655 non-null  object
 8   date         558655 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 38.4+ MB

Aligeramos el dataset con unos downgrades de tipo de variables.

In [50]:
df_reviews['funny'] = df_reviews['funny'].astype('int8')
df_reviews['stars'] = df_reviews['stars'].astype('int8')
df_reviews['cool'] = df_reviews['cool'].astype('int8')

df_reviews.drop('useful', axis=1, inplace=True, errors='ignore')

In [51]:
df_reviews.to_parquet(r'Generated\Yelp\review.parquet')

### 2.4 Users Yelp

In [53]:
import pyarrow.parquet as pq


parquet_file = pq.ParquetFile(r'Datasets\Yelp\user.parquet')

arr_df = []

for batch in parquet_file.iter_batches():
    # count = count +1
    batch_df = batch.to_pandas()
    batch_df['elite'] = batch_df['elite'].apply(lambda x: x.split(','))
    batch_df['elite_len'] = batch_df['elite'].apply(lambda x: len(x))
    batch_df = batch_df.query("elite_len > 1")
    arr_df.append(batch_df)

df_users = pd.concat(arr_df)

In [54]:
df_users.sample(5)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,elite_len
35766,lrtGPAmDqCFnbfAKiB4NmA,Charles,360,2012-01-08 01:16:46,200,44,102,"[2015, 2016, 2017, 2018, 2019, 20, 20, 2021]","MRrN6DH3QGCFcDv5RENYVg, XhlDuX91F1ofznx1QkaSNQ...",8,...,0,0,0,13,6,2,2,5,1,8
11211,cDcakQinxKO8szOx4rtP3g,Ramon,197,2010-11-30 20:15:37,235,50,92,"[2015, 2016, 2017, 2018, 2019]","wheOfYPsyoi_I2vt3PnEuw, Lpex_9YDw2xT1AWEPq89dw...",14,...,0,0,0,6,10,4,4,3,3,5
40362,Ppy3_a44YggnckypQi2BuA,Craig,234,2013-08-28 03:26:39,661,249,376,"[2016, 2017, 2018]","YiPEVvFt3FBfppokf3t4Mg, MVyxYSpOP5RI6DnsJQox9Q...",36,...,2,0,0,69,107,111,111,43,13,3
24061,FvuREyQJqxnTS3Oy731AIA,Jean-Charles,407,2018-01-14 00:51:40,1601,300,1388,"[2019, 20, 20, 2021]","RTZkjxg0Hjg1pBUB1w6EpQ, DT5JuPKzBEyJCN3EwZV9KQ...",44,...,2,1,0,14,18,38,38,10,29,4
13889,rfIST1CoRLBilrtvWBbZAQ,Gisele,372,2008-07-20 18:11:53,1202,639,877,"[2016, 2017, 2019]","3PVplI-mhVc4uLGRd8xgwA, 3vhtFBNTaZiUSpWcGJ7MKQ...",37,...,6,2,1,75,130,84,84,56,68,3

In [55]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99015 entries, 1 to 8439
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             99015 non-null  object
 1   name                99015 non-null  object
 2   review_count        99015 non-null  int64
 3   yelping_since       99015 non-null  object
 4   useful              99015 non-null  int64
 5   funny               99015 non-null  int64
 6   cool                99015 non-null  int64
 7   elite               99015 non-null  object
 8   friends             99015 non-null  object
 9   fans                99015 non-null  int64
 10  average_stars       99015 non-null  float64
 11  compliment_hot      99015 non-null  int64
 12  compliment_more     99015 non-null  int64
 13  compliment_profile  99015 non-null  int64
 14  compliment_cute     99015 non-null  int64
 15  compliment_list     99015 non-null  int64
 16  compliment_note     99015 non-null  int64
 17  compliment_plain    99015 non-null  int64
 18  compliment_cool     99015 non-null  int64
 19  compliment_funny    99015 non-null  int64
 20  compliment_writer   99015 non-null  int64
 21  compliment_photos   99015 non-null  int64
 22  elite_len           99015 non-null  int64
dtypes: float64(1), int64(17), object(5)
memory usage: 18.1+ MB

In [56]:
df_users.reset_index(inplace=True)
df_users.drop('index', axis=1, inplace=True, errors="ignore")

In [57]:
df_users.to_parquet(r"Generated\Yelp\users_extracted.parquet")